<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416863663114-0kvh0dkpm4as64rk05vsccib5kei44pv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416863663114-0kvh0dkpm4as64rk05vsccib5kei44pv</string>
	<key>API_KEY</key>
	<string>AIzaSyBOLJL0mIevVyKGQc3_t4_xQdRf0QmnQN4</string>
	<key>GCM_SENDER_ID</key>
	<string>416863663114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mutemaidservice</string>
	<key>PROJECT_ID</key>
	<string>mutemaidservice-5c04b</string>
	<key>STORAGE_BUCKET</key>
	<string>mutemaidservice-5c04b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416863663114:ios:0a242103b8746f65f6dbf3</string>
</dict>
</plist>